*{
    font-family: "Libre Baskerville", serif;
    color: black;
    font-weight: 200;
    font-style: normal;
}

.signup-wrapper {
    display: flex;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

.left-image {
    flex: 1;
}

.left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-form {
    flex: 1;
    background-color: #678c2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white;
}

.right-form h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
}

.right-form h2::after {
    content: " ";
    display: block;
    width: 80px;
    height: 3px;
    background-color: white;
    margin: 10px auto;
}

form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: white;
    color: #678c2e;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: #678c2e 0.3s ease;
}

form button:hover {
    background-color: #1d4013;
}


@media (max-width: 1500px){

    .form-inner {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-left: 4vw;
    padding-right: 4vw; } 
}


@media screen and (max-width: 768px) {
    .navbar-brand {
    margin-right: 0;
    padding: 0 1.5rem;s
}
}

@media screen and (max-width: 1200px) {
    .navbar .navbar-nav .nav-link {
    padding: 0.5rem 2rem;
}
    .container {
    width: 70%;
}
.wrapper {
    flex-direction: column; }
    .wrapper .image-holder {
      width: 100%;
      height: 45vh; }
    .wrapper .form-inner {
      width: 100%;
      height: 55vh; }
      .form-inner {
    padding-left: 20vw;
    padding-right: 20vw; }

  .btn{
    width: 50%; } 
}

@media (max-width: 991px) {
  .wrapper .image-holder {
    height: 37vh; }
  .wrapper .form-inner {
    height: 63vh; }

  .socials {
    margin-top: 40px; }

  .form-header {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .wrapper .form-inner {
    height: auto; }
  .wrapper .image-holder {
    height: auto; }

  .image-holder img {
    display: block; }

  .form-inner {
    padding: 30px 20px; }

  button {
    width: 100%; } }
